<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"> <!-- We need to link the css sheet first here in the header-->
        <link rel='icon' href='/images/risingsun.png'> <!-- Linking the logo that comes in the tab-->
    </head>
    <body>
        <div class= 'main-content'>
            {{>header}} <!-- The partial file that we have made (file saved is header.hbs in the views__templates/partials-->
        </div>
        {{>footer}}
    </body>
</html>